body {
  margin: 0;
  padding: 0;
}

.hero {
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

.hero .content-block {
  position: relative;
  text-align: center;
}

.hero .content-block h1, .hero .content-block h2 {
  color: #fff;
  text-shadow: 1px 1px #333;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.hero .content-block .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: #ffc719;
  transition: width .4s ease-in-out;
  margin: auto;
}

.hero-content {
  position: relative;
}

.teaser.featured {
  height: 80vh;
  background-color: var(--main-light-background);
  min-height: 700px;
  max-width: 1481px;
  margin-top: 30px;
  margin: auto;
}
.featured > .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  opacity: 1;
  width: 1381px;
  align-items: center;
  height:70%;
  margin-top: 7%;
}



.featured > .container > picture > img {
  width: 500px;
  margin-right: 134px;
  height: auto;
  box-shadow: 20px 20px var(--main-accent-color);
}

.featured > .container > .content-block {
  max-width: 500px;
  margin-left:134px
}

.content-block p {
  font-size: 17px;
  line-height: 1.5;
  margin: 16px 0 13.5px;
  text-align: justify;
}