body {
  margin: 0;
  padding: 0;
}

.hero {
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

.hero .content-block {
  position: relative;
  text-align: center;
}

.hero .content-block h1, .hero .content-block h2 {
  color: #fff;
  text-shadow: 1px 1px #333;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.hero .content-block .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: #ffc719;
  transition: width .4s ease-in-out;
  margin: auto;
}

.hero-content {
  position: relative;
}

.featured {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  min-width: 1200px;
  justify-content: space-around;
  opacity: 0;
  height: 80vh;
  background-color: var(--main-light-background);
  margin-top: 30px;
}

.featured img {
  width: 500px;
}

.featured .content-block {
  max-width: 500px;
}

.content-block p {
  font-size: 17px;
  line-height: 1.5;
  margin: 16px 0 13.5px;
  text-align: justify;
}