.block > div > .xf-content-height {
  margin: auto;
  width: 80%;
  margin-top: -160px;
}

.xf-content-height .contentfragment > article > h3 {
  display: none;
} 

.xf-content-height .title > div > h1 {
  text-align: right;
  color: #fff;
  text-shadow: 1px 1px #333;
} 