body {
  background-color: var(--main-color);
  background-image: unset;
}
.main-body {
  display: flex;
  flex-direction: column;
}
.main-body > .block {
  width: 100%;
  top:unset;
  left:unset;
  position: unset;
  margin: 22px 0;
}
