.footer-xf {
  background-color: #202020;
  width: 100%;
  display: flex;
  margin-top: 0px;
  padding-top: 30px;
}

.footer-xf > .container {
  margin: auto;
}
.footer-xf > .container .container {
  padding: unset;
  max-width: 1200px !important;
  margin: auto !important;
  
}

.footer-xf .buildingblock > div {
  display: flex;
  justify-content: space-evenly;
}