body {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 72px;
  font-family: 'Futura PT W02 Heavy', Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 400;
  line-height: 76px;
  overflow-wrap: break-word;
}
h2 {
  font-weight: 500;
}

nav {
  top: 0;
  left: 0;
}

.App {
  padding:0;
  margin:0;
}

body {
  margin: 0;
}

h1, h2 {
    color: var(--main-text-color);
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.main-body .block {
  display: flex;
  flex-direction: column;
}
