body {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 500;
}

nav {
  top: 0;
  left: 0;
}

header {
  top:0;
  left:0;
}

header img {
  width: 100%;
  object-fit: cover;
}

header video {
  width: 100%;
}

.App {
  padding:0;
  margin:0;
}

body {
  margin: 0;
}

.video-section video{
  max-width:100%;
  height:auto;
}