
@import url("https://use.typekit.net/qni5gzm.css");

body {
  margin: 0;
  font-family: future-pt Futura PT W02 Book,Futura,Trebuchet MS,Arial,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
