
@import url("https://use.typekit.net/qni5gzm.css");

body {
  margin: 0;
  font-family: future-pt Futura PT W02 Book,Futura,Trebuchet MS,Arial,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  background-image: url('./media/AdobeStock_109806363.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-accent-color:#ffc719;
  --main-color: rgba(41,41,41);
  --main-text-color:#eeeeed;
  --main-color-opacity:rgba(41,41,41,.75);
}
