/* .image-list-container.image-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-list .image-list {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.image-grid .image-list {
  display: flex;
  flex-wrap: wrap;
}

.slider-list .image-list {
  list-style: none;
  justify-content: space-between;
  padding: unset;
}

.image-grid .image-list {
  list-style: none;
}

.image-list-container.slider-list, .image-list-container.image-grid {
  overflow: scroll;
  overflow-y: hidden;
  background-color: var(--main-color);
  padding: 0;
}

.image-grid .list-item {
  border: #000 1px solid;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
}

.image-grid .list-item img {
  width: 200px;
} */
/* .slider-list, .image-grid .image-list>li>.list-item {
  margin-left: 0;
  padding-left: 0;
}

.slider-list, .image-grid .image-list>li>.list-item a:link {
  text-decoration: none;
} */

/* .slider-list, .image-grid .list-item-title {
  color: #202020;
  font-size: 18px;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;

}

.slider-list .list-item-description {
  display: block;
  font-size: 14px;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 260px;
}

.slider-list .image-list>li .list-item>div img {
  width: unset;
  height: 400px;
}
*/

.list-container.slider-list .list .list-item {
  height: 360px;
}

.list-container.slider-list .list .list-item picture {
  margin-right: 22px;
}

.list-container.slider-list .list .list-item img {
  width: auto;
  object-fit: cover;
  max-height: 100%;
}



.list-container.slider-list {
  /* overflow: initial; */
  white-space: nowrap;
  /* background: transparent; */
  /* height: 100%; */
  position: relative;
}

.list-container.slider-list .list {
  display: inline-block;
  width: 100%;
  
  overflow-x: scroll;
}

/* visited link */
.slider-list,
.image-grid .image-list>li>.list-item a:visited {
  color: #696969;
}

/* mouse over link */
.slider-list,
.image-grid .image-list>li>.list-item a:hover {
  color: #696969;
}

/* selected link */
.slider-list,
.image-grid .image-list>li>.list-item a:active {
  color: #696969;
}


.slider-list .list-item span.cmp-image__title {
  display: none;
}


.slider-list .list .tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */

  margin: auto;
}

.slider-list .list-item .list-item-title {
  /* visibility: hidden; */
  /* width: 100%; */
  /* margin: auto; */
  /* top: 40%; */
  background-color: rgba(0, 0, 0, .45);
  color: #fff;
  /* text-align: center; */
  padding: 7px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  left:48%;
  transform: translateX(-50%);
  bottom:35px;
}

.slider-list .list .tooltip:hover .tooltiptext {
  visibility: visible;
}

.list-container.slider-list>h4,
.list-container.image-grid>h4 {
  color: #000;
  padding-left: 35px;
  font-size: larger;
}

.list-container.slider-list>h4::after,
.list-container.image-grid>h4::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: "";
  border-bottom: 2px solid var(--main-accent-color);
}

.list-container.slider-list {
  /* position: relative; */
}

.list-container.slider-list .arrow {
  border: solid var(--main-accent-color);
  border-width: 0 5px 5px 0;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  padding: 3px;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 10;
  top: 50%;
  cursor: pointer;
  display: none;
  /* transform: translateY(-50%); */
}

.list-container.slider-list .right {
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg);
  right: 32px;
}

.list-container.slider-list .left {
  transform: rotate(135deg) translateY(-50%);
  -webkit-transform: rotate(135deg);
  left: 32px;
}