/* .image-list-container.image-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-list .image-list {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.image-grid .image-list {
  display: flex;
  flex-wrap: wrap;
}

.slider-list .image-list {
  list-style: none;
  justify-content: space-between;
  padding: unset;
}

.image-grid .image-list {
  list-style: none;
}

.image-list-container.slider-list, .image-list-container.image-grid {
  overflow: scroll;
  overflow-y: hidden;
  background-color: var(--main-color);
  padding: 0;
}

.image-grid .list-item {
  border: #000 1px solid;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
}

.image-grid .list-item img {
  width: 200px;
} */
/* .slider-list, .image-grid .image-list>li>.list-item {
  margin-left: 0;
  padding-left: 0;
}

.slider-list, .image-grid .image-list>li>.list-item a:link {
  text-decoration: none;
} */

.image-list .list-item picture {
  margin-right: 22px;
}

.image-list .list-item img {
  height: 600px;
  width: auto;
  object-fit: cover;
}

.image-list-container {
  overflow: initial;
  white-space: nowrap;
  /* padding: 5px 70px 5px 20px; */
  background: transparent;
  height: 100%;
}

.image-list-container .image-list {
  display: inline-block;
  width: 100%;
}

/* visited link */
.slider-list,
.image-grid .image-list>li>.list-item a:visited {
  color: #696969;
}

/* mouse over link */
.slider-list,
.image-grid .image-list>li>.list-item a:hover {
  color: #696969;
}

/* selected link */
.slider-list,
.image-grid .image-list>li>.list-item a:active {
  color: #696969;
}

/* .slider-list, .image-grid .list-item-title {
  color: #202020;
  font-size: 18px;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;

}

.slider-list .list-item-description {
  display: block;
  font-size: 14px;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 260px;
}

.slider-list .image-list>li .list-item>div img {
  width: unset;
  height: 400px;
}
*/
.slider-list .list-item span.cmp-image__title {
  display: none;
}

.slider-list .image-list .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  margin: auto;
}


.slider-list .image-list .tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  top: 40%;
  background-color: rgba(0, 0, 0, .45);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.slider-list .image-list .tooltip:hover .tooltiptext {
  visibility: visible;
}

.image-list-container.slider-list>h4,
.image-list-container.image-grid>h4 {
  color: #000;
  padding-left: 35px;
  font-size: larger;
}

.image-list-container.slider-list>h4::after,
.image-list-container.image-grid>h4::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: "";
  border-bottom: 2px solid var(--main-accent-color);
}